<div class="parallax-container">
    <div class="parallax"><img src="views/assets/parallax1.jpg" style="display: block; transform: translate3d(-50%, 776px, 0px);"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Paste-It</h2>
      <h4>A colaborative clipboard for you.</h4>
      <p class="grey-text text-darken-3 lighten-3">Here you can write notes,share and them in real-time.</p>
    </div>
    <div class="row container">
      <h4 class="light">Share your notes and write them simoutaniously with who ever you need. Just share the link and start typping!</h4>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="views/assets/parallax1.jpg" style="display: block; transform: translate3d(-50%, 240px, 0px);"></div>
  </div>
