<html ng-app="pasteit">
  <head>
    <title>Paste-It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <base href="/"/>
  </head>
  <body ng-controller="MainCtlr">
    <div class="header">
      <div class="control" tabindex="1">
        <a class="btn-new btn-floating btn-large"></a>
        <i class="material-icons icon-search">open_in_new</i>
      </div>
      <a class="btn-new icon-close btn-floating disabled"><i class="material-icons" style="font-size: 70px;">close</i></a>
      <form ng-submit="goToPage()" class='form-search'>
        <input class="input-search" placeholder="Go to . . ." type='text' ng-model="pageName">
      </form>
      <nav>
        <div class="nav-wrapper">
         <a href="#" class="brand-logo center">Paste-It here</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a href="sass.html">Sass</a></li>
           <li><a href="badges.html">Components</a></li>
           <li><a href="collapsible.html">JavaScript</a></li>
         </ul>
       </div>
     </nav>
   </div>
   <ng-view></ng-view>
  </body>
</html>
