<html ng-app="pasteit">
  <head>
    <title>Paste-It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rancho" />
    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/download.js"></script>
    <base href="/"/>
  </head>
  <body ng-controller="MainCtlr">

      <div class="header">
        <div ng-show="notOnHomeScreen" class="share">
          <div>
            <div class="menu-btn fixed-action-btn horizontal">
              <a class="btn-floating btn-large toggle-menu-btn">
                <i class="material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating share-btn" data-clipboard-text="{{shareUrl}}" ng-click="copy()" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">share</i></a></li>
                <li><a class="btn-floating" ng-click="download()" style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons">file_download</i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="control" tabindex="1">
          <a class="btn-new btn-floating btn-large"></a>
          <i class="material-icons icon-search">open_in_new</i>
        </div>
        <a class="btn-new icon-close btn-floating disabled"><i class="material-icons" style="font-size: 70px;">close</i></a>
        <form ng-submit="goToPage()" class='form-search'>
          <div class="input-field">
            <input class="input-search" id="input_search" placeholder="Go to ..." type='text' ng-model="pageName">
          </div>
        </form>
        <nav>
          <div class="nav-wrapper">
           <a href="#" class="brand-logo center">Paste-It</a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li><a href="/">Home</a></li>
             <li ng-show="userLoggedIn"><a href="#" ng-click=""><i class="material-icons right">lock_open</i>{{user.name}}, </a></li>
             <li ng-show="!userLoggedIn"><a href="#" ng-click="loginModal()"><i class="material-icons">lock_outline</i></a></li>
           </ul>
         </div>
       </nav>
     </div>
     <!-- Modal Structure -->
     <div id="login-modal" class="modal">
       <div class="modal-content">
         <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab col s3"><a class="active" href="#tab-signin">Login</a></li>
              <li class="tab col s3"><a href="#tab-signup">Signup</a></li>
            </ul>
          </div>
          <div class="center-align">
            <h4 class="brand-logo">Paste-It</h4>
          </div>
          <div id="tab-signin" class="col s12">
            <div class="row">
              <form ng-submit="submitLogin()" class="col s12">
                <div class="row">
                  <p class="center-align" style="color:red;">{{errorMessage}}</p>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="email" class="validate" ng-model="loginForm.email" required>
                    <label for="email">Your email address</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="validate" name="password" ng-model="loginForm.password" required>
                    <label for="password">Your password</label>
                  </div>
                </div>
                <div class="row center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
              </div>
              </form>
            </div>
            <div class="row or-divider">
                   <span>OR</span>
             </div>
             <div class="row center">
             <a href="/auth/facebook?destination_url=/manage" class="connect-btn button-facebook btn disabled">
               <svg style="width:24px;height:24px;top: 6px; position: relative; right: 5px;" viewBox="0 0 24 24">
                 <path fill="#ffffff" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"></path>
               </svg>Facebook
             </a>
            </div>
          </div>
          <div id="tab-signup" class="col s12">
            <div class="row">
              <form ng-submit="submitSignup()" class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate">
                    <label for="email">Your name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Your email address</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Your password</label>
                  </div>
                </div>
                <div class="row center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
   </div>
   <main>
     <ng-view></ng-view>
   </main>
   <footer class="page-footer">
     <div class="container">
       <div class="row">
         <div class="col s12">
           <h5 class="white-text">Paste-It</h5>
           <p class="grey-text text-lighten-4">A reinvented way to copy 'n' paste.</p>
         </div>
         <!-- l6 <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Links</h5>
           <ul>
             <li><a id="copiar" class="grey-text text-lighten-3" href="#!">Share link</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
           </ul>
         </div> -->
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       Paste-It © 2016 Victor Presumido
       </div>
     </div>
   </footer>
  </body>
</html>
